.col{
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0.8;
	
}
.list-group-item {
	background-image:url("img/bgi.jpg");
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-left: 0.5px solid rgba(0, 0, 0, 0.5);
	border-right: 0.5px solid rgba(0, 0, 0, 0.5);
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	fill-opacity: 0.8;
}
li{
	font-family: "Times New Roman", Times, serif;
	font-size:16px;

}
h2{
	font-family: 'Arvo';
	font-size:16px;
	font-weight:bold;
	position: relative;
	right:-20%;
}
.mensajeA{
	position: relative;
	font-family: 'Arvo';
	font-size:16px;
	font-weight:bold;
}
.lista{
	border: 1px solid grey;
	font-weight:bold;
	background-color:black;
	color:white;
	position: relative;
	right:-20%;
}
.mensajeA{
	position: relative;
	right:-20%;
}
.elemento{
	position: relative;
	right:-20%;	
}
#fila2{
	background-color:rgba(0, 0, 0, 0.8);
	height:300px;
}
div{
	overflow-x:hidden;
}
nav{
	width:100%;
}
#fila3{
	height: 40px;
	width:100%;
	background-color:whitesmoke;
}
p{
	color:white;
}
img{
	position: relative;
	width: 300px;
	height: 300px;
}
.imagen1{
	position:relative;
	right:-100%;
}
